.home {
    height: 80vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url('../../Assets/bgImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.homeText {
    text-align: center;
}

.title {
    color: var(--WhiteColor);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.subTitle {
    color: var(--WhiteColor);
    opacity: .9;
    font-size: 13px;
    font-weight: 300;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.btn {
    padding: .6rem 1.5rem;
}

.homeCard{
    width: 80%;
    border-radius: 1rem;
    background-color: var(--WhiteColor);
    padding: 2rem;
    position: absolute;
    gap: 1rem;
    justify-content: center;
    bottom: -25%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}

.locationDiv, .priceDiv {
    width: 100%;
}

.headerSearchItem {
    display: block;
    color: var(--TextColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: .4rem;
}

label {
    margin-right: 5px;
    padding-bottom: .5rem;
    color: var(--TextColor);
    font-weight: 700;
    font-size: 13px;
}

input, .headerSearchItem {
    width: 100%;
    background: var(--InputColor);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;

    &::placeholder {
        font-size: 13px;
        opacity: .5;
        font-weight: 400;
    }

    &:focus{
        outline: none;
    }
}

.homeCard .btn{
    width: 100%;
    padding: .6rem 1.5rem;
    font-weight: 600;
    color: var(--WhiteColor);
}


.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 205px;
    left: -30px;
    z-index: 1;
}

.options {
    z-index: 2;
    position: absolute;
    top: 270px;
    left: 30px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

/* Media Screen */

@media screen and (min-width: 425px){
    .options{
        top: 260px;
        left: 60px;
    }
    .date {
        top: 205px;
        left: 20px;
    }
}

@media screen and (min-width: 480px) {
    .homeCard{
        width: 90%;
        bottom: -100px;
        grid-template-columns: repeat(2, 1fr);
    }
    .homeCard .btn {
        transform: translateX(50%);
    }
    .options{
        top: 155px;
        left: 220px;
    }
    .date {
        top: 155px;
        /* left: 20px; */
    }
}

@media screen and (min-width: 556px) {
    .title{
        font-size: 2.5rem;
    }
    .subTitle{
        font-size: 18px;
    }
    .options{
        top: 155px;
        left: 260px;
    }
    .date {
        top: 145px;
        left: 20px;
    }
}

@media screen and (min-width: 575px) {
    .options{
        top: 140px;
        left: 260px;
    }
    .date {
        top: 140px;
        left: 20px;
    }
}

@media screen and (min-width: 640px) {
    .options{
        top: 140px;
        left: 320px;
    }
    .date {
        top: 140px;
        left: 20px;
    }
}

@media screen and (min-width: 720px) {
    .homeCard{
        bottom: -10%;
        grid-template-columns: repeat(4, 1fr);
    }

    .headerSearchItem{
        margin-top: 20px;
    }

    .homeCard .btn{
        transform: translateX(160%);
    }

    .homeText{
        padding: 1rem 10rem;
    }

    .title {
        font-size: 3.5rem;
        margin: auto;
        line-height: 4rem;
    }

    .subTitle {
        width: 70%;
    }

    .options{
        top: 115px;
        left: 450px;
    }
    .date {
        top: 120px;
        left: 280px;
    }
    
}

@media screen and (min-width: 820px){
    .options{
        top: 110px;
        left: 520px;
    }
    .date {
        top: 110px;
        left: 280px;
    }
}


@media screen and (min-width: 1024px){
    .options{
        top: 110px;
        left: 670px;
    }
    .date {
        top: 110px;
        left: 380px;
    }
}



@media screen and (min-width: 1100px){
    .options{
        top: 100px;
        left: 740px;
    }
    .date {
        top: 100px;
        left: 400px;
    }
}

@media screen and (min-width: 1200px){
    .options{
        top: 90px;
        left: 810px;
    }
    .date {
        top: 90px;
        left: 480px;
    }
}

@media screen and (min-width: 1440px){
    .options{
        top: 90px;
        left: 1000px;
    }
    .date {
        top: 90px;
        left: 650px;
    }
}

@media screen and (min-width: 1600px){
    .options{
        top: 90px;
        left: 1100px;
    }
    .date {
        top: 90px;
        left: 750px;
    }
}

@media screen and (min-width: 1720px){
    .options{
        top: 90px;
        left: 1300px;
    }
    .date {
        top: 90px;
        left: 900px;
    }
}